[submodule "packages/core/deps/flow-core-contracts"]
	path = packages/core/deps/flow-core-contracts
	url = https://github.com/onflow/flow-core-contracts.git
[submodule "packages/core/deps/flow-ft"]
	path = packages/core/deps/flow-ft
	url = https://github.com/onflow/flow-ft.git
[submodule "packages/core/deps/flow-nft"]
	path = packages/core/deps/flow-nft
	url = https://github.com/onflow/flow-nft.git
[submodule "packages/core/deps/flow-utils"]
	path = packages/core/deps/flow-utils
	url = https://github.com/green-goo-dao/flow-utils.git
