---
import Layout from '@layouts/Layout.astro';
import Header from '@components/partials/Header.astro';
import Footer from '@components/partials/Footer.astro';
import Main from '@components/partials/Main.vue';

const title = "Index"
---

<Layout title={title}>
  <Header />
  <main class="container mx-a min-h-[calc(100vh-9rem)]">
    <Main client:only="vue"/>
  </main>
  <Footer />
</Layout>
