---
import Layout from '../layouts/Layout.astro';
import Header from '@components/partials/Header.astro';
import Footer from '@components/partials/Footer.astro';

const title = "Index"
---

<Layout title={title}>
  <Header />
  <main class="container m-a p4">
    TODO
  </main>
  <Footer />
</Layout>
