---
import Layout from '../layouts/Layout.astro';

const title = "Index"
---

<Layout title={title}>
  <main>
    TODO
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>

