---
// TODO
---

<section class="min-h-[calc(100vh-4rem)] hero">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="/android-chrome-512x512.png" alt="home logo" class="max-w-[16rem]" />
    <div class="max-w-[32rem] flex flex-col items-center lg:items-start">
      <h3 class="text-5xl font-bold text-center lg:text-left">
        An ECS based Fully On-chain Game Engine
        <a href="https://flow.com" target="_blank" rel="noopener noreferrer">
          <strong class="text-[var(--theme-accent)]">#onFlow</strong>
        </a>
      </h3>
      <p class="pt-3 pb-2 font-bold text-sm text-center lg:text-left">
        LEARN MORE
      </p>
      <ul class="text-lg max-w-[18rem] lg:max-w-full">
        <li>
          <a href="https://docs.turbine.run" target="_blank" rel="noopener noreferrer">
            <span>📚</span> Documentation
          </a>
        </li>
        <li>
          <a href="https://github.com/btspoony/turbine" target="_blank" rel="noopener noreferrer">
            <span class="i-carbon:logo-github" /> Github
          </a>
        </li>
        <li>
          <a href="https://gacha-demo.turbine.run" target="_blank" rel="noopener noreferrer">
            <span>🕹</span> Example: Gacha Simulator
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
ul > li > a {
  @apply flex-inline items-center gap-2;
}
</style>
