---
// NOTHING
---

<footer class="container h-12 mt-4 mx-a px-2 lg:px-a">
  <div class="h-full flex items-center justify-between gap-1 text-sm">
    <span>© {new Date().getFullYear()} All rights reserved.</span>
    <div class="flex items-end justify-center gap-2 text-[var(--theme-text)]">
      <span>Get support on</span>
      <a
        href="https://discord.gg/flow"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="i-logos:discord-icon w-5 h-5"></div>
      </a>
      <a
        href="https://x.com/btspoony"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="i-logos:twitter w-5 h-5"></div>
      </a>
      <a
        href="https://github.com/btspoony/turbine"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="i-carbon:logo-github w-5 h-5"></div>
      </a>
    </div>
  </div>
</footer>
