---
// NOTHING
---

<footer>
  <footer class="container mx-a h-12 mt-4">
    <div class="h-full flex items-center justify-between gap-1">
      <small>© { new Date().getFullYear() } All rights reserved.</small>
      <div class="flex items-end justify-center gap-2">
        <small>Get support on
          <a href="https://discord.gg/emeraldcity" target="_blank">Emerald City DAO</a>
        </small>
        <a href="https://x.com/btspoony" target="_blank" rel="noopener noreferrer">
          <div class="i-logos:twitter w-5 h-5" />
        </a>
        <a href="https://github.com/btspoony/turbine" target="_blank" class="text-[var(--theme-text)]">
          <div class="i-carbon:logo-github w-5 h-5" />
        </a>
      </div>
    </div>
  </footer>
</footer>
