---
import NamePanel from '@components/player/NamePanel.vue'
---

<header class="container mx-a max-h-20 max-w-[calc(100%-3rem)]">
  <div class="h-20 flex items-center justify-between">
    <h2 class="mb-0">
      Turbine Example: Gacha Simulator
    </h2>
    <NamePanel client:only="vue"/>
  </div>
</header>
